<div class="container" id="home-container">
	<div class="row">
		<div class="col-xs-12">
			<p id="main-text">			
				<%= t('home.main') %>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-offset-1 col-sm-10 hidden-xs">
			<p class="line"></p>
		</div>
		<div class="col-sm-12 hidden-xs">
			<p>
				<%= t('home.hidden') %>
			</p>
		</div>

	</div>
	
	
</div>