<div class="container" id="home-container">
	<div class="row">
		<div class="col-xs-12">
			<p id="main-text">			
				У Вас теперь нет необходимости хранить те изделия, которые Вам уже не нравятся или продавать их за бесценок в ломбард. Мы предлагаем Вам вдохнуть в них новую жизнь и получить уникальное ювелирное украшение, созданное специально для Вас или в подарок Вашим близким.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 hidden-xs">
			<p>
				Ювелирные украшения, изготовленные на заказ – это уникальная возможность подчеркнуть свой стиль и индивидуальность. Даже небольшая вещица, выполненная в единственном экземпляре, может привлечь внимание и восхищенные взгляды.
				Браслеты, подвески, колье и многие другие ювелирные изделия являются элегантными украшениями, придающие женщинам нежности и красоты, а мужчинам - престижа и стабильности. Важную роль играет материал изделия, виды плетения цепочек и застежек серьг, а также многое другое, играет важную роль при выборе украшения. Изделия из серебра высокого качества вызывают чувство предрасположенности и восхищения к ее обладателю. Разнообразие моделей и стилей их отделки поможет покупателю выразить свою индивидуальность без слов и подчеркнуть свой статус.
			</p>
		</div>

	</div>
	
	
</div>