
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "**/*";

body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
}

#header{
	p{
		text-align: center;
		img{
			width: 70%;
		}
	}
}

#footer{
	p{
		text-align: center;
		img{
			width: 40%;
		}
	}
}

@media(max-width: 768px){
	#header{
		p{
			img{
				width: 100%;
			}
		}
	}
	#footer{
		p{
			img{
				width: 60%;
			}
		}
	}
}

#header {
	img{
		cursor: pointer;
	}
}

@media(max-width: 768px){
	#header {
		h1{
			font-size: 40px;
		}
	}
}

nav{
	border-radius: 5px;
	margin-bottom: 15px;
	border: 1px solid black;
	p{
		font-size: 20px;
		margin: 0px;
	    padding: 10px 5px;
	}
	i{
		padding: 5px;
	}
	div{
		text-align: center;
		color: #333;
		&:hover{
			cursor: pointer;
			background: rgb(204, 204, 204);
			color: black;
		}

		&:nth-child(1),&:nth-child(2){
			border-right: 1px solid black;
		}
	}
}

.active{
	background: rgb(204, 204, 204);

	a{
		color: black;
	}
}

#preloader{
	text-align: center;
	padding: 20px 0px;
}