// Place all the styles related to the Social controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#social-panel{
	div{
		text-align: center;
	}

	a{
		color: #333;
		text-decoration: none;
		&:hover{
			span{
				color: black;
			}
		}
	}


}

#social-wrapper{
	border: 1px solid #333;
	border-radius: 5px;
	margin-top: 10px;
}

.social-img-wrapper{
	text-align: center;
	background-size: cover !important;
	background-position: center !important;
	border: 1px solid black;
}

@media(min-width: 1200px){
	.social-img-wrapper{
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%); 
		&:hover{
			-webkit-filter: none; 
			filter: none;
		}
	}
}

@media(max-width: 768px){
	.social-img-wrapper{
		height: 200px;
	}
}
